{% extends "layout.html.twig" %}

{% block card_content %}
    <div class="form-floating mb-3">
        <input type="text" name="project_name" class="form-control" id="project_name" placeholder="Project name" required>
        <label for="project_name">Project name</label>
    </div>

    <div class="form-floating mb-3">
        <select id="image_id" name="image_id" autocomplete="image_id" class="form-select" required>
            <option value="" selected="selected"> --- Select prestashop docker image ----</option>
            {% for image_id, image_name in ps_docker_images %}
                <option value="{{ image_id }}">{{ image_name }}</option>
            {% endfor %}
        </select>
        <label for="image_id">Template</label>
    </div>

    <div class="form-floating mb-3">
        <select id="shops_number" name="shops_number" autocomplete="shops_number" class="form-select" required>
            {% for i in 1..15 %}
                <option value="{{ i }}">{{ i }}</option>
            {% endfor %}
        </select>
        <label for="image_id">Shops number</label>
    </div>

    <div class="mb-3">
        <input type="radio"
               class="btn-check advanced-config-switch"
               name="project_type"
               id="project_type_1"
               autocomplete="off"
               value="0"
               checked
        >
        <label class="btn btn-sm btn-outline-secondary" for="project_type_1">Empty container</label>

        <input type="radio"
               class="btn-check advanced-config-switch"
               name="project_type"
               id="project_type_2"
               value="1"
               autocomplete="off"
        >
        <label class="btn btn-sm btn-outline-secondary" for="project_type_2">Container with project</label>
    </div>

    <div class="is-advanced-config d-none">
        <div class="input-group mb-3">
            <span class="input-group-text"><i class="bi bi-link-45deg"></i></span>
            <div class="form-floating">
                <input type="text" class="form-control" id="entrypoint_script_url" name="entrypoint_script_url" placeholder="Entrypoint shell script url" value="{{ entrypoint_script_url }}">
                <label for="entrypoint_script_url">Entrypoint shell script  url</label>
            </div>
        </div>
        <div class="input-group">
            <div class="form-floating">
                <textarea class="form-control text-left" name="env_vars" placeholder="ENV VARS" id="app_env_vars">{% for var_name, var_value in ps_env_vars %}{{ var_name }}={{ var_value }};&#13;&#10;{% endfor %}</textarea>
                <label for="env_vars">ENV VARS</label>
            </div>
        </div>
    </div>
{% endblock %}

{% block card_footer %}
    <div class="d-grid gap-2">
        <button class="btn btn-secondary" type="submit" name="submitForm">
            <i class="bi bi-box-arrow-up"></i> Deploy
        </button>
    </div>
{% endblock %}